.popup__container {
  display: flex;
  position: fixed;
  max-width: 430px;
  min-height: 330px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  color: black;
  flex-direction: column;
  z-index: 1;
  transition: all 0.5s ease-out;
  opacity: 0;
  visibility: hidden;
}
.popup__container:hover{
  cursor: default;
}
@media (max-width: 550px) {
  .popup__container {
    max-width: 282px;
    min-height: 310px;
  }
}
