.profile {
  display: flex;
  width: calc(100vw - 400px);
  align-items: center;
  margin: 40px 0 50px;
}
@media (max-width: 1024px) {
  .profile {
    width: calc(100vw - 200px);
  }
}
@media (max-width: 800px) {
  .profile {
    width: calc(100vw - 100px);
  }
}
@media (max-width: 620px) {
  .profile {
    width: calc(100vw - 50px);
  }
}
@media (max-width: 550px) {
  .profile {
    flex-direction: column;
  }
}

