.profile {
  display: flex;
  width: calc(100vw - 400px);
  align-items: center;
  margin: 40px 0 50px;
}
@media (max-width: 1065px) {
  .profile {
    width: calc(100vw - 200px);
  }
}
@media (max-width: 860px) {
  .profile {
    width: calc(100vw - 100px);
  }
}
@media (max-width: 760px) {
  .profile {
    width: calc(100vw - 50px);
  }
}
@media (max-width: 610px) {
  .profile {
    margin: 40px 0 32px;
    flex-direction: column;
  }
}

