.popup__close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  transition: linear 0.3s;
  background-image: url(../../../images/CloseIcon.svg);
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media (max-width: 550px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -30px;
    right: 0;
  }
}
