.header {
  width: calc(100vw - 400px);
  margin-top: 45px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
@media (max-width: 1024px) {
  .header {
    width: calc(100vw - 200px);
  }
}
@media (max-width: 800px) {
  .header {
    width: calc(100vw - 100px);
  }
}
@media (max-width: 620px) {
  .header {
    width: calc(100vw - 50px);
  }
}