.popup__edit {
  box-sizing: border-box;
  border: 0;
  width: 100%;
  max-width: 358px;
  font-size: 14px;
  line-height: 17px;
  margin: 27px 36px 0px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.popup__edit:last-child{
    margin-bottom: 0;
}
@media (max-width: 550px) {
    .popup__edit {
        margin: 14px 22px 12px;
        max-width: 238px;
    }
  }