.popup-window__edit {
  font-size: 14px;
  line-height: 17px;
  margin: 0 36px 33px;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.popup-window__edit:last-child{
    margin-bottom: 0;
}
@media (max-width: 550px) {
    .popup-window__edit {
        margin: 0 22px 33px;
    }
  }