.photo-grid__like {
  transition: linear 0.3s;
  width: 23px;
  height: 19px;
  background-image: url(../../../images/likeheart.svg);
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
.photo-grid__like:hover {
  cursor: pointer;
  opacity: 0.5;
}
