.popup__error-container{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin: 5px 36px 0;
    height: 30px;
}
@media (max-width: 550px) {
    .popup__error-container {
        margin: 5px 22px 0;
    }
  }